body{
  background:#f4f4f4;
}


.chart-fix{
  overflow: hidden;
  height: 600px!important;
}


/* colors */
/*
light gray:#D8D8D8
dark gray: #575756
blue: #009FE3


*/

/* header */
a.navbar-brand img{
  margin-top:-10px;

}


.navbar{
  background:#D8D8D8;
  border:none;
}

.navbar-inverse .navbar-nav>li>a{
  color:#575756;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color:black;
}


/* footer */
footer{
  background:#D8D8D8;
  color:#575756;
  height:80px;
  margin-bottom:0;
}

footer p{
  line-height:80px;
  margin-bottom:0;
}

footer p a{
  color:gray;
}

footer p a:hover{
  color:black;
}


/* tables */

.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
    background-color: #009FE3;
}

.table>tbody>tr.success>td:hover,
.table>tbody>tr.success>th:hover,
.table>tbody>tr>td.success:hover,
.table>tbody>tr>th.success:hover,
.table>tfoot>tr.success>td:hover,
.table>tfoot>tr.success>th:hover,
.table>tfoot>tr>td.success:hover,
.table>tfoot>tr>th.success:hover,
.table>thead>tr.success>td:hover,
.table>thead>tr.success>th:hover,
.table>thead>tr>td.success:hover,
.table>thead>tr>th.success:hover {
    background-color: #50b7e3;
}


/* table */

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #009FE3;
}
