{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Quality Product Data{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                QPD
            </a>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.operatingsystems') }}">Operating Systems</a></li>
                <li><a href="{{ url_for('main.index') }}admin">Admin</a></li>
            </ul>>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
      {% block page_content %}
      <h1>Whatever you're looking for, it ain't here!</h1>
      {% endblock %}
    </div>
{% endblock %}
