{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block extrajs %}{% endblock %}

{% block title %}Quality Product Data{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('dashboard.index') }}">
                QPD
            </a>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('dashboard.index') }}">Home</a></li>
                <li><a href="{{ url_for('operatingsystem.index') }}">Operating Systems</a></li>
                <li><a href="{{ url_for('project.index') }}">Projects</a></li>
                <li><a href="{{ url_for('release.index') }}">Releases</a></li>
                <li><a href="{{ url_for('testrun.index') }}">Test Runs</a></li>
                <li><a href="{{ url_for('dashboard.index') }}admin">Admin</a></li>
            </ul>>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
