{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block page_content %}
{{ macros.load_chart() }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h4>Individual Test Runs</h4>
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#bar" class="small">Bar</a></li>
        <li><a data-toggle="pill" href="#line" class="small">Line</a></li>
      </ul>
      <div class="tab-content">
        <div id="bar" class="tab-pane fade in active">
          {{ macros.chart('runs-chart-bar', 'other', data) }}
        </div>
        <div id="line" class="tab-pane fade active">
          {{ macros.chart('runs-chart', 'line', data) }}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Averaged Test Runs</h4>
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#avgbar" class="small">Bar</a></li>
        <li><a data-toggle="pill" href="#avgline" class="small">Line</a></li>
      </ul>
      <div class="tab-content">
        <div id="avgbar" class="tab-pane fade in active">
          {{ macros.chart('runs-chart-bar-avg', 'other', avg_data) }}
        </div>
        <div id="avgline" class="tab-pane fade active">
          {{ macros.chart('runs-chart-avg', 'line', avg_data) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Releases</h1>
      {{ macros.testrun_table(test_runs) }}
    </div>
  </div>

</div>

{% endblock %}
