{% macro load_chart() %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type='text/javascript'>//<![CDATA[
google.charts.load('current', {packages: ['corechart', 'line']});

//]]>
</script>

{% endmacro %}

{% macro add_automated_column() %}
data.addColumn('string', 'Date');
data.addColumn('number', 'Automated');
{% endmacro %}


{% macro add_testcase_column() %}
data.addColumn('string', 'X');
data.addColumn('number', 'Passed');
data.addColumn('number', 'Failed');
data.addColumn('number', 'Skipped');
data.addColumn('number', 'Error');
{% endmacro %}


{% macro add_pass_fail_column() %}
data.addColumn('string', 'X');
data.addColumn('number', '% Passed');
data.addColumn('number', '% Failed');
{% endmacro %}


{% macro add_execution_column() %}
data.addColumn('string', 'X');
data.addColumn('number', '% Executed');
data.addColumn('number', '% Not Executed');
{% endmacro %}


{% macro chart(id, ytitle, chart, rows) %}
<div id="{{ id }}"></div>
<script type='text/javascript'>//<![CDATA[
google.charts.setOnLoadCallback(drawLineColors);
function drawLineColors() {
      var data = new google.visualization.DataTable();

      if('{{ id }}' == 'testcases'){
        {{ add_testcase_column() }}
      }
      else if('{{ id }}' == 'execution'){
        {{ add_execution_column() }}
      }
      else if('{{ id }}' == 'passfail'){
        {{ add_pass_fail_column() }}
      }
      else if('{{ id }}' == 'automated'){
        {{ add_automated_column() }}
      }

      data.addRows({{ rows|safe }});

      var options = {
        title: 'Automation Results',
        height: 450,
        hAxis: {
          title: 'Build'
        },
        vAxis: {
          title: '{{ ytitle }}'
        },
        colors: ['#5cb85c', '#f1b259', '#337ab7', '#d9534f'],
        explorer: {
          maxZoomIn: 0.05,
          zoomDelta: 1.2,
        },
      };


      if('{{ chart }}' == 'line'){
        var chart = new google.visualization.LineChart(
          document.getElementById('{{ id }}')
        );
      }
      else if('{{ chart }}' == 'area'){
        var chart = new google.visualization.AreaChart(
          document.getElementById('{{ id }}')
        );
      }
      else if('{{ chart }}' == 'pie'){
        var chart = new google.visualization.PieChart(
          document.getElementById('{{ id }}')
        );
        var options = {title: 'Automation Results',};
      }
      else if('{{ chart }}' == 'bar'){
        var chart = new google.visualization.ColumnChart(
          document.getElementById('{{ id }}')
        );
        options["isStacked"] = 'absolute';
      }
      chart.draw(data, options);
    }

//]]>

</script>
{% endmacro %}



{% macro run_cell(value, hl) %}
    <td{% if hl %} class="success"{% endif %}>{{ '%0.2f' % value|float }}</td>
{% endmacro %}


{% macro testrun_table(test_runs, all) %}
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Project</th>
      <th>Release</th>
      <th>Build</th>
      <th>OS</th>
      {% if all %}
      <th>Passed</th>
      <th>Failed</th>
      <th>Skipped</th>
      <th>Error</th>
      <th>Total</th>
      <th>Total Executed</th>
      {% endif %}
      <th>PQI</th>
      <th>% Passed</th>
      <th>% Failed</th>
      <th>% Executed</th>
      <th>% Not Executed</th>
    </tr>
  </thead>
  <tbody>
    {% for run in test_runs %}
    <tr>
      <td>{{ run.timestamp.strftime('%Y-%m-%d') }}</td>
      <td>{{ run.project.name }}</td>
      <td>{{ run.release.name }}</td>
      <td>{{ run.name }}</td>
      <td>{{ run.operatingsystem.fullname() }}</td>
      {% if all %}
      <td>{{ run.passed }}</td>
      <td>{{ run.failed }}</td>
      <td>{{ run.skipped }}</td>
      <td>{{ run.error }}</td>
      <td>{{ run.total }}</td>
      <td>{{ run.total_executed }}</td>
      {% endif %}
      {{ run_cell(run.passed/run.total, run.percent_passed >= 0.90) }}
      <td>{{ '%0.2f' % run.percent_passed|float }}</td>
      <td>{{ '%0.2f' % run.percent_failed|float }}</td>
      <td>{{ '%0.2f' % run.percent_executed|float }}</td>
      <td>{{ '%0.2f' % run.percent_not_executed|float }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
