{% extends "base.html" %}
{% import 'macros.html' as macros %}

{% block title %}Quality Product Data{% endblock %}

{% block page_content %}
    <h1>Operating Systems</h1>

    <table class="table table-hover">
        <tr>
            <th>Name</th>
        </tr>
        {% for os in oses %}
        <tr>
          <td><a href="{{ url_for('main.operatingsystem', id=os.id)  }}">
            {{ os.name }} {{ os.major_version }}.{{ os.minor_version }}
          </a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
